// Стили для оформления списка преимуществ

.city-item,
.bridge-item {
  background-color: hsl(203, 47%, 66%);
  color: hsl(0, 0%, 100%);
}

.square-item,
.road-item,
.tourists-item {
  background-color: hsl(0, 0%, 93%);
}
