.album-section {
  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }
}

.album-section__description {
  padding-top: 36px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
    padding-left: 143px;
    padding-right: 143px;

    border: none;
  }
}

.album-section__title {
  @include font-titles-black;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.album-section__text {
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding-top: 26px;
  padding-left: 25px;
  padding-right: 28px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
  }
}
