// Карточка мост дьявола
.bridge-card {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
  }
}

.bridge-card__content {
  @media (min-width: $tablet-width) {
    background-color: $grey-color;
    padding-top: 22px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $black-color;
    width: 100%;
    color: $white-color;
  }
}

.bridge-card__img-wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    height: 267px;
    overflow: hidden;
    margin: 0;
  }
}

.bridge-card__image {
  @media (min-width: $tablet-width) {
    width: 100%;
    height: 267px;
  }
}
