// Карточка мост дьявола
.bridge-card {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}

.bridge-card__content {
  @media (min-width: $tablet-width) {
    background-color: $grey-color;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $black-color;
    opacity: 30%;
    width: 100%;
    color: $white-color;
  }
}
