.bridge-item__title {
  @include font-titles-white;
  margin: 0;
}

.bridge-item__title br {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.bridge-item__number {
  padding-top: 9px;
}

.bridge-item__slogan {
  padding-top: 15px;
}

.bridge-item__section {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "photo description";
  }
}

.bridge-item__description p {
  margin: 0;
}

.bridge-item__description {
  grid-area: description;
  background-color: $main-color;
  color: $white-color;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    padding-top: 40px;
    padding-bottom: 38px;
    padding-left: 15px;
    padding-right: 16px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 41px;
    padding-left: 36px;
    padding-right: 36px;
  }
}

.city-item__bridge-photo {
  grid-area: photo;
}
