.city-item__description {
  background-color: $main-color;
  color: $white-color;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    padding-top: 69px;
    padding-bottom: 39px;
    padding-left: 13px;
    padding-right: 13px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 44px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 67px;
    padding-right: 69px;
    padding-top: 47px;
    justify-content: flex-start;
  }
}

.city-item__facilities {
  @media (max-width: $mobile-width-only) {
    margin-top: 27px;
    margin-left: 12px;
    margin-right: 25px;
    margin-bottom: 36px;
  }
}

.city-item__description p {
  margin: 0;
}

.city-item__title {
  @include title-mobile-white;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    @include title-desktop-white;
  }
}

.city-item__number {
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    padding-top: 13px;
  }
}

.city-item__slogan {
  padding-top: 17px;

  @media (min-width: $desktop-width) {
    padding-top: 24px;
  }
}

.city-item__section {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 256px;
    margin-top: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 41px;
  }
}

.city-item__city-photo {
  background-color: $grey-color;
  overflow: hidden;
}

.city-item__photo {
  @media (min-width: $tablet-width) {
    width: 100%;

    @media (min-width: $desktop-width) {
      position: relative;
      bottom: 20%;
    }
  }
}

.city-item__photo-wrapper {
  margin: 0;
  overflow: hidden;

  @media (max-width: $mobile-width-only) {
    height: 260px;
  }
}
