.comments-fieldset {
  border: 0 none;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    margin-top: 20px;
    margin-bottom: 47px;
  }

  @media (min-width: $tablet-width) {
    grid-area: comments;
    margin-top: 33px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 33px;
  }
}

.comments-fieldset__title {
  @include title-mobile-black;
  text-align: center;
  margin: 0;
}

.comments-fieldset__input {
  display: block;
  background-color: $grey-color;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  border: none;

  &::placeholder {
    color: $black-color;
  }

  @media (max-width: $mobile-width-only) {
    min-width: 279px;
    min-height: 160px;
    margin-top: 14px;
    margin-left: 21px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: 55px;
    padding-top: 18px;
    padding-left: 20px;
    min-height: 158px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    min-height: 138px;
  }
}
