.contacts-fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    margin-top: 20px;
    padding-bottom: 32px;
    border-bottom: 1px solid #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    grid-area: contacts;
    margin-top: 70px;
  }
}

.contacts-fieldset__section {
  @media (max-width: $mobile-width-only) {
    padding-left: 21px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: none;
    margin-top: 46px;
  }
}

.contacts-fieldset__title {
  @include title-mobile-black;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include title-desktop-black;
  }
}

.contacts-fieldset__phone {
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 19px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.contacts-fieldset__email {
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
