.phone__label,
.email__label {
  line-height: 26px;
}

.contacts-fieldset__legend {
  @include font-titles-black;
  text-align: center;
}

.phone-block__input,
.email-block__input {
  @include font-titles-black;
  display: block;
  background-color: $grey-color;
  border: none;
  min-width: 230px;
  min-height: 58px;
  font-weight: bold;
}

.phone-block__icon,
.email-block__icon {
  background-color: $grey-color;
  width: 58px;
  height: 58px;
  text-align: center;
}
