.contacts-fieldset {
  border: 0 none;
  border-bottom: 1px solid #e5e5e5;
}

.contacts-fieldset__legend {
  font-weight: bold;

  @include font-titles-black;

  text-align: center;
  padding-top: 16px;
}

.contacts-fieldset__phone {
  padding-top: 15px;
}
