.copyright {
  display: flex;
  justify-content: center;
  padding-top: 43px;

  @media (min-width: $tablet-width) {
    padding-top: 62px;
  }
}

.copyright__text {
  margin: 0;

  @include text-main-desktop;
}

.copyright__link {
  padding-left: 12px;

  &:hover {
    fill: #81b3d2;
  }

  &:active {
    fill: rgba($color: #000000, $alpha: 0.3);
  }
}
