.email-block {
  display: flex;
}

.email-block__input {
  @include title-mobile-black;
  background-color: $grey-color;
  border: none;
  padding: 0;
  min-width: 230px;
  min-height: 58px;

  &::placeholder {
    color: $black-color;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 23px;
  }
}

.email-block__icon {
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  text-align: center;
}

.email__label {
  line-height: 26px;

  @media (min-width: $tablet-width) {
    padding-left: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 16px;
    padding-left: 0;
  }
}
