.facilities {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "living food syvenirs";
    align-content: center;
  }
}

.facilities__item-first {
  @media (max-width: $mobile-width-only) {
    margin-top: 30px;
    padding-left: 69px;
    padding-right: 11px;
  }

  @media (min-width: $tablet-width) {
    grid-area: living;
  }
}

.facilities__slogan {
  margin: 0;
  padding-top: 15px;
}

.facilities__item-second {
  @media (max-width: $mobile-width-only) {
    padding-top: 26px;
    padding-left: 70px;
    padding-right: 37px;
  }

  @media (min-width: $tablet-width) {
    grid-area: syvenirs;
  }
}

.facilities__item-third {
  @media (max-width: $mobile-width-only) {
    padding-top: 28px;
    padding-left: 70px;
    padding-right: 71px;
    margin-bottom: 36px;
  }

  @media (min-width: $tablet-width) {
    grid-area: food;
  }
}

.facilities__section-first,
.facilities__section-second,
.facilities__section-third {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
}

.facilities__title {
  margin: 0;

  @include font-titles-black;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

// Icons
.facilities__icon-house,
.facilities__icon-gift,
.facilities__icon-burger {
  fill: #81b3d2;
}

.facilities__icon-house {
  width: 75px;
  height: 72px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-left: 90px;
    padding-right: 89px;
  }
}

.facilities__icon-burger {
  width: 76px;
  height: 68px;

  @media (min-width: $tablet-width) {
    padding-top: 63px;
    padding-left: 87px;
    padding-right: 88px;
  }
}

.facilities__icon-gift {
  width: 64px;
  height: 75px;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-right: 97px;
    padding-left: 95px;
  }
}

.facilities__text-house {
  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-left: 36px;
    padding-right: 33px;
  }
}

.facilities__text-burger {
  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-left: 38px;
    padding-right: 40px;
  }
}

.facilities__text-gift {
  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-right: 31px;
    padding-left: 32px;
  }
}
