.inscription {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;

    padding-bottom: 52.5px;
    padding-top: 43.5px;
  }
}

.inscription__slogan {
  @include font-titles-black;
}

.inscription__text {
  font-size: 14px;
  line-height: 26px;
}
