.introduce-fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    grid-area: introduce;
    border-left: 1px solid #e5e5e5;
    padding-top: 28px;
  }

  @media (min-width: $tablet-width) {
    border-left: none;
  }
}

.introduce-fieldset__section {
  @media (max-width: $mobile-width-only) {
    margin-top: 22px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 56px;
    border-left: 1px solid #e5e5e5;
  }
}

.introduce-fieldset__title {
  margin: 0;

  @media (max-width: $mobile-width-only) {
    @include title-mobile-black;
    padding-left: 26%;
  }

  @media (min-width: $tablet-width) {
    @include title-desktop-black;
  }

  @media (min-width: $desktop-width) {
    margin-left: 24px;
  }
}

.first-name__input,
.last-name__input,
.middle-name__input {
  @include title-mobile-black;

  display: inline-block;

  background-color: $grey-color;
  border: none;
  min-height: 58px;
  box-sizing: border-box;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: $white-color;
    border: 4px solid #e5e5e5;
    outline: none;
  }
}

.first-name__label,
.last-name__label,
.middle-name__label {
  @media (max-width: $mobile-width-only) {
    @include text-main-desktop;
    color: #333333;
  }
}

// Стили для расположения секций форм

.first-name__label {
  @media (min-width: $tablet-width) {
    align-self: center;
  }
}

.last-name__label {
  @media (min-width: $tablet-width) {
    align-self: center;
  }
}

.middle-name__label {
  @media (min-width: $tablet-width) {
    align-self: center;
  }
}

.introduce-fieldset__first-name {
  @media (max-width: $mobile-width-only) {
    margin-top: 20px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 23px;
  }
}

.introduce-fieldset__last-name {
  @media (max-width: $mobile-width-only) {
    padding-top: 18px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 23px;
  }
}

.introduce-fieldset__middle-name {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 23px;
  }
}
// Поле для заполнения

.first-name__input {
  @media (max-width: $mobile-width-only) {
    width: 229px;
    margin-left: 10px;
    padding-left: 22px;

    &:focus {
      padding-left: 18px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-left: 14px;
    padding-left: 25px;

    &:focus {
      padding-left: 21px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-left: 13px;
    padding-left: 22px;

    &:focus {
      padding-left: 18px;
    }
  }
}

.last-name__input {
  @media (max-width: $mobile-width-only) {
    width: 191px;
    margin-bottom: 21px;
    margin-left: 11px;
    padding-left: 21px;

    &:focus {
      padding-left: 17px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 21px;
    margin-left: 15px;

    &:focus {
      padding-left: 17px;
    }
  }
}

.middle-name__input {
  @media (max-width: $mobile-width-only) {
    width: 191px;
    margin-left: 14px;
    padding-left: 19px;

    &:focus {
      padding-left: 15px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 20px;
    margin-left: 20px;

    &:focus {
      padding-left: 16px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-left: 20px;
    margin-left: 20px;

    &:focus {
      padding-left: 16px;
    }
  }
}
