.introduce-fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    grid-area: introduce;
    border-left: 1px solid #e5e5e5;
    padding-top: 28px;
  }
}

.introduce-fieldset__section {
  @media (max-width: $mobile-width-only) {
    margin-top: 22px;
    padding-left: 13px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 56px;
  }
}

.introduce-fieldset__title {
  margin: 0;

  @media (max-width: $mobile-width-only) {
    @include title-mobile-black;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    @include title-desktop-black;
  }

  @media (min-width: $desktop-width) {
    margin-left: 24px;
  }
}

.first-name__input,
.last-name__input,
.middle-name__input {
  @include title-mobile-black;

  display: inline-block;

  background-color: $grey-color;
  border: none;
  min-height: 58px;
}

.first-name__label,
.last-name__label,
.middle-name__label {
  @media (max-width: $mobile-width-only) {
    @include text-main-desktop;
    color: #333333;
  }
}

// Стили для расположения секций форм

.first-name__label {
  @media (min-width: $tablet-width) {
    align-self: center;
  }
}

.last-name__label {
  @media (max-width: $mobile-width-only) {
    padding-left: 7px;
  }

  @media (min-width: $tablet-width) {
    align-self: center;
  }
}

.middle-name__label {
  @media (max-width: $mobile-width-only) {
    padding-left: 7px;
  }

  @media (min-width: $tablet-width) {
    align-self: center;
  }
}

.introduce-fieldset__first-name {
  @media (max-width: $mobile-width-only) {
    margin-left: 7px;
    margin-top: 5px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 23px;
  }
}

.introduce-fieldset__last-name {
  @media (max-width: $mobile-width-only) {
    padding-top: 18px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 23px;
  }
}

.introduce-fieldset__middle-name {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 23px;
  }
}
// Поле для заполнения

.first-name__input {
  @media (max-width: $mobile-width-only) {
    min-width: 205px;
    margin-top: 15px;
    margin-left: 10px;
    padding-left: 22px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-left: 14px;
    padding-left: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-left: 13px;
    padding-left: 22px;
  }
}

.last-name__input {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 15px;
    margin-left: 11px;
    padding-left: 12px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 21px;
    margin-left: 15px;
  }
}

.middle-name__input {
  @media (max-width: $mobile-width-only) {
    margin-left: 10px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 20px;
    margin-left: 13px;
  }
}
