.introduce-fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    grid-area: introduce;
    border-left: 1px solid #e5e5e5;
    padding-top: 28px;
  }

  @media (min-width: $tablet-width) {
    border-left: none;
  }
}

.introduce-fieldset__section {
  @media (max-width: $mobile-width-only) {
    margin-top: 22px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 56px;
    border-left: 1px solid #e5e5e5;
  }
}

.introduce-fieldset__title {
  margin: 0;

  @media (max-width: $mobile-width-only) {
    @include title-mobile-black;
    padding-left: 26%;
  }

  @media (min-width: $tablet-width) {
    @include title-desktop-black;
  }

  @media (min-width: $desktop-width) {
    margin-left: 24px;
  }
}

.introduce-fieldset__first-name {
  @media (max-width: $mobile-width-only) {
    margin-top: 20px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 23px;
  }
}

.introduce-fieldset__last-name {
  @media (max-width: $mobile-width-only) {
    padding-top: 18px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 23px;
  }
}

.introduce-fieldset__middle-name {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 23px;
  }
}
