.modal-form-failed__title {
  text-align: center;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    @include title-mobile-black;
    margin-bottom: 26px;
  }

  @media (min-width: $tablet-width) {
    @include title-modal-tablet;
    padding-left: 20%;
    padding-right: 20%;
  }
}

.modal-form-failed__text {
  @include text-main-photo;
  text-align: center;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    padding-left: 41px;
    padding-right: 42px;
    margin-bottom: 22px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 37px;
  }
}

.modal-form-failed__button-ok {
  @include modal-btn-form;

  @media (max-width: $mobile-width-only) {
    @include title-mobile-white;
    min-width: 180px;
    min-height: 58px;
  }

  @media (min-width: $tablet-width) {
    @include title-desktop-white;
    min-width: 272px;
    min-height: 58px;
  }
}
