// Стили для блока footer
.page-footer {
  min-height: 233px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 665px;
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    width: 976px;
    display: flex;
    flex-direction: row;
  }
}
