.main-nav__list{
  list-style-type: none;
}

.site-list__link {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.page-header {
  background-color: hsl(0, 0%, 100%);
}

.page-header__logo {
  height: 94px;
}
