// Стили для блока footer
.page-footer {
  min-height: 120px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-left: 60px;
    padding-right: 60.5px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-left: 120px;
    padding-right: 120px;
  }
}
