// Стили для блока footer
.page-footer {
  min-height: 120px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-left: 45px;
    padding-right: 60.5px;
  }
}
