.phone-block {
  display: flex;

  @media (max-width: $mobile-width-only) {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $tablet-width) {
    padding-top: 8px;
  }
}

.phone__label {
  line-height: 26px;
  padding-left: 21px;

  @media (min-width: $desktop-width) {
    span {
      display: none;
    }

    padding-right: 16px;
    padding-left: 0;
  }
}

.phone-block__input {
  @include title-mobile-black;

  background-color: $grey-color;
  border: none;
  padding: 0;
  min-width: 230px;
  min-height: 58px;
  font-weight: bold;

  &::placeholder {
    color: $black-color;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 23px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 23px;
  }
}

.phone-block__icon {
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  text-align: center;
}
