.card {
  border-bottom: 1px groove #E5E5E5 ;
}

.photo-album__cover {
  background: url('/img/bg-back-mobile@1x.jpg') no-repeat;
}

.photo-album__title {
  font-size: 18px;
}

.card__title {
  font-size: 14px;
}

.card__author-name {
  text-transform: none;
}
