.places-fieldset {
  border: 0 none;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    margin-top: 14px;
    padding-bottom: 27px;
    border-bottom: 1px solid #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    grid-area: places;
    padding-top: 49px;
    margin: 0;
    justify-self: stretch;
  }

  @media (min-width: $desktop-width) {
    margin-top: 49px;
    padding: 0;
  }
}

.places-fieldset__title {
  @include title-mobile-black;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include title-desktop-black;
  }
}

.places-fieldset__choices {
  display: grid;

  @media (max-width: $mobile-width-only) {
    margin: 0;
    margin-top: 21px;
    padding-left: 17px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 25px;
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: 51% 49%;
    grid-template-rows: 50% 50%;
    grid-gap: 23px;
    margin-top: 37px;
    margin-bottom: 0;
    padding-left: 97px;
    padding-right: 95px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    grid-gap: 30px;
    margin-top: 43px;
    margin-bottom: 36px;
  }
}
