// Карточка местная растительность
.plants-card {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.plants-card__content {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $grey-color;
    padding-left: 20px;
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 100%;
    background-color: $black-color;
    color: $white-color;
  }
}

.plants-card__img-wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    height: 267px;
    overflow: hidden;
    margin: 0;
  }
}

.photo-cactus__image {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
