.player__timeline {
  display: flex;
  grid-area: timeline;
  position: relative;

  @media (max-width: $mobile-width-only) {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding-left: 22px;
    padding-right: 22px;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.player__button-replay {
  display: flex;
  grid-area: replay;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #f2f2f2;
    padding-left: 25px;
    padding-top: 23px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 35px;
    padding-left: 35px;
  }
}

.player__button-subtitles {
  display: flex;
  grid-area: subtitles;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #f2f2f2;
    justify-content: space-around;
    padding-top: 23px;
    padding-left: 30px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 35px;
    padding-left: 6px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 35px;
  }
}

.player__button-fullscreen {
  display: flex;
  grid-area: fullscreen;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: #f2f2f2;
    justify-content: space-around;
    padding-top: 23px;
    padding-left: 4px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 35px;
    padding-left: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 18px;
  }
}

.player__replay-icon,
.player__subtitles-icon,
.player__fullscreen-icon {
  cursor: pointer;
  // Стили по styleguide
  @media (max-width: $mobile-width-only) {
    fill: #5c6870;

    &:hover {
      fill: #333333;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    fill: $white-color;

    &:hover {
      fill: #ffffff;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
