.review-form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "impressions introduce"
      "contacts contacts"
      "places places"
      "comments comments";

    margin-left: 60px;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 120px;
    margin-right: 120px;
    grid-template-rows: 1fr auto auto 1fr;
  }
}

.review-form__submit-button {
  @include style-btn;

  @media (min-width: $desktop-width) {
    min-width: 324px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 480px;
    padding-top: 5px;
  }
}
