.review-form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "impressions introduce"
      "contacts contacts"
      "places places"
      "comments comments";

    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 1fr auto auto 1fr;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 73px;
  }
}

.review-form__submit-button {
  @include style-btn;
  align-items: center;
  justify-content: center;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 37px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $tablet-width) {
    min-width: 324px;
    margin-top: 7px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 6px;
    min-width: 480px;
  }

  &:hover {
    background-color: #669ec0;
    cursor: pointer;
  }

  &:active {
    background-color: #5496bd;

    .search-section__link {
      opacity: 0.3;
    }

    &:disabled {
      background-color: #e5e5e5;
    }
  }
}

.review-form__text-requared {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    padding-top: 29px;
  }
}

// Модальное окно "что-то пошло не так"
.review-form__modal-failed--visible {
  display: block;
  z-index: 3;
  position: absolute;
  width: 320px;
  bottom: 31%;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: 400px;
    bottom: 16%;
  }

  @media (min-width: $desktop-width) {
    bottom: 12%;
  }
}

.review-form__modal-failed--hidden {
  display: none;
}

.review-form__modal-failed {
  background-color: $white-color;
  padding-top: 40px;
  padding-bottom: 35px;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

// Модальное окно "ваш отзыв отправлен"

.review-form__modal-success--visible {
  display: block;
  z-index: 3;
  position: absolute;
  width: 320px;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: 640px;
    bottom: 24%;
  }

  @media (min-width: $desktop-width) {
    bottom: 26%;
  }
}

.review-form__modal-success--hidden {
  display: none;
}

.review-form__modal-success {
  background-color: $white-color;
  padding-top: 38px;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  @media (min-width: $tablet-width) {
    padding-top: 45px;
  }
}
