// Карточка дорога на север

.road-card {
  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.road-card__content {
  @media (min-width: $tablet-width) {
    background-color: $grey-color;
  }

  @media (min-width: $desktop-width) {
    background-color: $black-color;
    opacity: 30%;
    width: 100%;
    color: $white-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
