.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-section__text {
  @media (max-width: $mobile-width-only) {
    margin-top: 33px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 56px;
    margin-left: 20%;
    margin-right: 20%;
  }

  p {
    margin: 0;
  }
}

.search-section__subject {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.search-section__subtitle {
  text-align: center;

  @media (max-width: $mobile-width-only) {
    line-height: 24px;
    padding-top: 20px;
    padding-right: 22px;
    padding-left: 22px;

    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 35px;
  }
}

.search-section__link {
  color: hsl(0, 0%, 100%);
}

.search-section__link {
  @include style-btn;

  @media (max-width: $mobile-width-only) {
    margin-top: 27px;
    margin-bottom: 33px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 46px;
    padding-top: 15px;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    .search-section__link {
      opacity: 0.3;
    }

    &:disabled {
      background-color: #e5e5e5;
    }
  }

  @media (min-width: $tablet-width) {
    @include style-btn-tablet;
    margin-top: 43px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    @include style-btn-tablet;
    margin-top: 43px;
    margin-bottom: 71px;
  }
}
