.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-section__text {
  @media (max-width: $mobile-width-only) {
    padding-top: 13px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 58px;
  }

  p {
    margin: 0;
  }
}

.search-section__subject {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.search-section__subtitle {
  @media (max-width: $mobile-width-only) {
    line-height: 24px;
    text-align: center;
    padding-top: 22px;
    padding-right: 22px;
    padding-left: 22px;
  }
}

.search-section__link {
  color: hsl(0, 0%, 100%);
}

.search-section__button {
  margin-top: 33px;
  margin-bottom: 33px;

  @include style-btn;

  @media (min-width: $tablet-width) {
    @include style-btn-tablet;
    margin-top: 37px;
    margin-bottom: 58px;
  }
}
