// Стилизация ссылок в меню
.site-list {
  a {
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top: 1px solid $white-color;

    @media (min-width: $tablet-width) {
      padding-top: 16px;
      padding-bottom: 14px;

      background: none;
      border: none;
    }
  }
}

.site-list__second-block {
  @media (min-width: $tablet-width) {
    margin-right: 20%;
  }
}

.site-list__item {
  @media (min-width: $tablet-width) {
    width: 20%;
  }
}
