// Стили для оформления секции ссылок на социальные сети
.social {
  @media (min-width: $tablet-width) {
    padding-top: 19px;
    padding-bottom: 36px;
  }
}

.social__list {
  padding-top: 36px;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 84px;
  padding-right: 85px;

  @media (min-width: $tablet-width) {
    padding-left: 27px;
    padding-right: 36px;
  }
}
.social__item {
  white-space: nowrap;
  text-indent: 100%;
  margin-right: 6px;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: $main-color;
  text-align: center;
  position: relative;
  overflow: hidden;
  text-indent: 100%;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    svg {
      fill: rgba($color: #ffffff, $alpha: 0.3);
    }
  }
}

.social__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $white-color;
}
