.tourists-item {
  text-align: center;
}

.tourists-item__section {
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 16%;
    padding-left: 19%;
    padding-right: 19%;
    padding-bottom: 16%;
  }

  @media (min-width: $desktop-width) {
    padding-top: 11%;
    padding-left: 18%;
    padding-right: 17%;
    padding-bottom: 16%;
  }
}

.tourists-item__number {
  margin: 0;
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    padding-top: 14px;
  }
}

.tourists-item__slogan {
  margin: 0;
  padding-top: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
  }
}
