// Карточка неродные просторы
.vast-card {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
    position: relative;
  }
}

.vast-card__like-count {
  @media (min-width: $desktop-width) {
    padding-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.vast-card__img-wrapper {
  margin: 0;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    height: 280px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    height: 400px;
    overflow: hidden;
  }
}

.vast-card__image {
  width: 100%;
  height: 100%;
}

.vast-card__review {
  @media (min-width: $tablet-width) {
    padding-right: 21px;
    padding-top: 32px;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-end;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
