// Оформление стилей шрифта
@mixin font-header-mobil {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: #ffffff;
}

@mixin font-titles-white {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
}

@mixin font-titles-black {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

@mixin titles-form-desktop {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

// Оформление кнопок
@mixin style-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  width: 280px;
  min-height: 58px;
  background-color: $main-color;
  color: $white-color;
  border: none;
}

@mixin style-btn-tablet {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 49px;
  width: 458px;
  min-height: 58px;
  background-color: $main-color;
  color: $white-color;
  border: none;
}

// Оформление cостояний кнопки и элементов пункта меню
@mixin style-hover {
  background-color: #669ec0;
}

@mixin style-active {
  background-color: #5496bd;
  color: #ffffff;
  opacity: 0.3;
}

@mixin style-disable {
  background-color: #e5e5e5;
}
