// // Оформление стилей шрифта

@mixin text-main {
  font-size: 14px;
  line-height: 21px;
  color: $black-color;
}

@mixin text-main-photo {
  font-size: 14px;
  line-height: 24px;
  color: $black-color;
}

@mixin text-main-bold {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: $black-color;
}

@mixin text-main-desktop {
  font-size: 14px;
  line-height: 26px;
  color: $black-color;
}

@mixin title-mobile-black {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black-color;
}

@mixin title-mobile-white {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $white-color;
}

@mixin title-desktop-black {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: $black-color;
}

@mixin title-desktop-white {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: $white-color;
}

// Оформление кнопок
@mixin style-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 280px;
  min-height: 58px;
  background-color: $main-color;
  color: $white-color;
  border: none;
}

@mixin style-btn-tablet {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 49px;
  min-width: 458px;
  min-height: 58px;
  background-color: $main-color;
  color: $white-color;
  border: none;
}

// Оформление cостояний кнопки и элементов пункта меню
@mixin style-hover {
  background-color: #669ec0;
}

@mixin style-active {
  background-color: #5496bd;
  color: #ffffff;
  opacity: 0.3;
}

@mixin style-disable {
  background-color: #e5e5e5;
}
